/*font-family: 'Judson', serif;
font-family: 'Junge', cursive;*/
:root {
  --primary-color: #bfa58e;
  --secondary-color: #a6866a;
  --heading-font: "Judson", serif;
  --default-font: "Junge", cursive;
}
.navbar {
  background-color: white;
}
.offcanvas-title {
  font-family: var(--heading-font);
}
.nav-link {
  font-family: var(--default-font);
}

.split {
  background-color: var(--primary-color);
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.container {
  margin-top: 135px;
}
.right {
  right: 0;
}
.left {
  left: 0;
  background-color: white;
  padding-top: 20px;
}
.circle {
  width: 500px;
  height: 500px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 265px;
  background: var(--secondary-color);
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
.img_portfolio {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 78px;
}
.colored_text {
  color: var(--secondary-color);
}
h3 {
  font-family: var(--default-font);
  font-size: 25px;
  line-height: 1;
}
h1 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 110px;
}
button {
  padding: 15px 40px;
  font-family: var(--default-font);
}
.colored_btn {
  background-color: var(--primary-color);
  border: none;
  color: white;
}
.default_btn {
  background-color: white;
  border: solid 1px var(--primary-color);
  color: var(--secondary-color);
}
